
.welcome-message{
    
    background-color: black;
    color: white;
    text-align: center;
    align-items:center;
    padding: 2px;
   
    h1{
        animation-direction: reverse;
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 5px;
    }
}